---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import VaultSafe from '../components/VaultSafe.astro';
---

<Layout>
  <Header />
  <main>
    <VaultSafe />
  </main>
</Layout>

<style>
  main {
    position: relative;
  }
</style>